.basketContainer {
  display: flex;
  gap: 40px;
  max-width: 1240px;
  margin: 40px auto;
  padding: 0 20px;
  align-items: flex-start;
}

.cardsCart {
  flex: 1;
}

.cartContainer {
  max-width: 1240px;
  margin: 20px auto;
  padding-bottom: 80px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px;
}
