.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 20px;
    background-color: #1c1c1c;
}

.header-nav {
    display: flex;
    justify-content: space-around;
}
